body {
	font-family: sans-serif;
	background: silver;
}
#drawing {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: silver;
	pointer-events: auto;
	touch-action: none;
	-webkit-touch-action: none;
	mouse-events: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#background {
    position: absolute;
	left: 0;
	top: 0;
	background-color: #CCCCCC;
    z-index: 1;
}
#svg {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 2;
}
#guides {
    display: none;
}
#datumSet {
    display: none;
}
input {
    width: 64px;
	height: 24px;
	color: black;
	background-color: white;
	border: 1px solid #CCCCCC;
	/*border-radius: 3px;*/
	font-size: 1.2em;
}
.nameField {
    width: 240px;
}
img {
    vertical-align: bottom;
}
select {
    color: black;
    background-color: white;
    height: 32px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 1.2em;
}
button {
    color: white;
    font-size: 1em;
    background-color: #808080;
    border: solid #CCCCCC 1px;
    border-radius: 3px;
}
.iconButton {
    width: 32px;
    height: 32px;
    border: none;
    color: white;
}
.iconButton:disabled {
    opacity: 0.5;
}
.spin90 {
    transform: rotate(90deg);
}
.spin180 {
    transform: rotate(180deg);
}
.spin270 {
    transform: rotate(270deg);
}
#checks {
    position: fixed;
    left: 6px;
    top: 4px;
    width: 32px;
    height: 32px;
    background-image: url('svg/checks.svg');
    z-index: 10;
}
#fill {
    position: fixed;
    left: 6px;
    top: 4px;
    width: 32px;
    height: 32px;
    color: black;
    font-family: Sans-serif;
    font-size: 20px;
    background: gray;
    opacity: 0.5;
    border: none;
    overflow: hidden;
    z-index: 11;
}
#line {
   position: fixed;
    left: 6px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-bottom-style: solid;
    border-width: 0.25mm;
    border-color: black;
    background: none;
    z-index: 12;
}
#undoButton {
    position: fixed;
    left:6px;
    top: 4px;
    background: url(svg/undo.svg) center center no-repeat;
    z-index: 12;
    display: none;
}
.dialog {
	position: fixed;
	left: 48px;
	right: null;
	top: 4px;
	padding: 5px;
	border: solid 1px black;
	border-radius: 3px;
	display: none;
	color: black;
	background-color: #C0C0C0C0;
	z-index: 10;
}
#tools {
    position: fixed;
    left: 6px;
    top: 48px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF80;
    display: block;
    z-index: 10;
}
#docButton {
    background: url(svg/document.svg) center center no-repeat;
}
#zoomInButton {
    background: url(svg/zoomin.svg) center center no-repeat;
}
#zoomOutButton {
    background: url(svg/zoomout.svg) center center no-repeat;
}
#extentsButton {
    background: url(svg/extents.svg) center center no-repeat;
}
#panButton {
    background: url(svg/pan.svg) center center no-repeat;
}
#sketchButton {
    background: url(svg/sketch.svg) center center no-repeat;
}
#lineButton {
    background: url(svg/line.svg) center center no-repeat;
}
#boxButton {
    background: url(svg/box.svg) center center no-repeat;
}
#ovalButton {
    background: url(svg/oval.svg) center center no-repeat;
}
#arcButton {
    background: url(svg/arc.svg) center center no-repeat;
}
#textButton {
    background: url(svg/text.svg) center center no-repeat;
}
#stampButton {
    background: url(svg/stamp.svg) center center no-repeat;
}
#editTools {
    position: fixed;
    left: 6px;
    top: 48px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF80;
    display: none;
    z-index: 11;
}
#addButton {
    background: url(svg/add.svg) center center no-repeat;
}
#deleteButton {
    background: url(svg/cross.svg) center center no-repeat;
}
#forwardButton {
    background: url(svg/up.svg) center center no-repeat;
}
#backButton {
    background: url(svg/up.svg) center center no-repeat;
    transform: rotate(180deg);
}
#spinButton {
    background: url(svg/spin.svg) center center no-repeat;
}
#flipButton {
    background: url(svg/flip.svg) center center no-repeat;
}
#alignButton {
    background: url(svg/align.svg) center center no-repeat;
}
#copyButton {
    background: url(svg/copy.svg) center center no-repeat;
}
#filletButton {
    background: url(svg/roundbox.svg) center center no-repeat;
}
#defineButton {
    background: url(svg/stamp.svg) center center no-repeat;
}
#spin {
    width: 2em;
}
#prompt {
    position: fixed;
    left: 48px;
    top: 8px;
    color: blue;
    background-color: white;
    opacity: 0.5;
    padding: 4px;
    font-size: 1em;
    display: block;
    z-index: 13;
}
#undoButton {
    background: url(svg/undo.svg) center center no-repeat;
    z-index: 12;
    display: none;
}
#lineShade {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    vertical-align: bottom;
    background-color: black;
}
#fillShade {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    vertical-align: bottom;
    background: white;
}
#shadeMenu {
    position: fixed;
    top: 50px;
    left: 100px;
    width: 96px;
    height: 24px;
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    z-index: 11;
    display: none;
}
#patternMenu {
	width: 192px;
	height: 192px;
	background: white url('patterns.png') no-repeat center;
}
#textDialog {
    z-index: 8;
    display: none;
}
#text {
    width: 96px;
}
#removeDialog {
    top: 50px;
}
#combiDialog {
    left: 8px;
}
#diagnostics {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    z-index: 500;
    display: none;
}